<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title><%= title %> | Class Manager</title>
    <link
      rel="stylesheet"
      href="/css/styles.css"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/">Class Manager</a>
        </div>
        <%- include("../partials/navbar.ejs") %>
      </nav>
    </header>

    <main>
			
